.logo {
    font-size: 80px;
    color: #000;
    margin-top: 0;
    margin-bottom: 40px;
}
span{
    color: #4BCAFF;
}
.nav-top-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    background-color: #35444F;
    margin-top: 0;
    margin-bottom: 49px;
}
.nav-top-item { 
    font-size: 24px;
    padding: 23px;
    border-right: 1px solid white; 
}
.nav-top-link{
    color: white;
}
   .nav-top-item:first-child{
    border-left: 1px solid white;  
}
.nav-top-item:hover {
    background-color: #222f3a;
}




.main{
    display: flex;
    justify-content: space-between;
    gap: 52px;
}
.main-aside{
    
}
.main-aside-list{
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin: 0;
}
.main-aside-item{
    font-size: 27px;
    padding-top: 27px;
    padding-left: 44px;
    padding-bottom: 26px;
    padding-right: 69px;
}
.main-aside-link{
    color: #495863;
}

.main-aside-item:hover{
    color: #000;
    background-color: #DBDBDB;
    padding-left: 60px;
}

.section-main{
    width: 885px;
    padding-bottom: 54px;
}
.section-main-pic{
    transition: transform 1s; 
    border: 1px solid #000;
}
.main-pic{
    padding: 75px 268px 73px 297px;
}
.section-main-pic:hover .main-pic{
    transform: scale(1.1);
}
.section-main-text-uk{
    color: #2C2C2C;
    font-size: 18px;
    margin-top: 37px;
    margin-bottom: 13px;
}
.section-main-text-en{
    color: #2C2C2C;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}




.footer{
    padding: 20px 40px 21px 40px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    align-items: center;
}
.footer-nav{
    display: flex;
    width: 875px;
    margin-right: 135px;
}

.footer-list{
    justify-content: space-between;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 28px;
}
.footer-list-link{
    color: black;
}
.footer-copyright{
    font-size: 24px;
    padding-left: 0;
    margin: 0;
}
